.banner-wrapper{
    background-color: black;
}
  
  
  img {
    object-fit: cover;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .banner-wrapper {
    width: 100%;
    /* overflow: hidden; */
  }
  
  .banner-wrapper .wrapper {
    display: flex;
    width: 200%; 
  }
  
  

  .banner-wrapper .wrapper .images {
    display: flex;
    width: 50%;
    flex: 0 0 50%;
  }
  /* 

  
  @keyframes swipe {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  } */